.calculadora {
    height: 380px;
    width: 260px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 23% 19% 19% 19% 19%;
    
    border: solid 3px grey;
    padding: 10px;
}